{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "react/jsx-uses-vars": 1,
    "react/jsx-uses-react": 1
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "standard"
    ],
  "extends": "standard"
}
