@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,600,600italic,700,700italic,800,800italic);

html {
  background-color: #3498db;
}

* {
		box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card {
  min-width: 420px;
  font-size: 0.7em;
  overflow: auto;
  background-color: white;
  width: 100%;
  padding: 20px;
  border-radius: 2px;
  -webkit-box-shadow:0 1px 3px rgba(0,0,0,.2);
  -moz-box-shadow:0 1px 3px rgba(0,0,0,.2);
  box-shadow:0 1px 3px rgba(0,0,0,.2);
}

.card-bottom {
  margin-top: 15px;
}

input {
  border-radius: 0;
  border-style: none;
  border-bottom: 2px solid #BDC3C7;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
  padding: 0.4em;
  border-radius: 0;
  border-style: none;
}

.btn-blue {
  background-color: #3498db;
}

.btn-blue:hover {
  background-color: #2980b9;
}

#date {
  width: 100%;
}

#difference {
  width: 80%;
}

#submit-btn {
  margin: 0 0 5px 0;
  color: white;
  float: right;
}

@media (max-width: 600px) {
  .card {
    min-width: 320px;
  }
}
