.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

/*#submit-btn {
  display: block;
}*/

label {
  display: block;
  font-size: 16px;
  transform: translateY(25px);
  color: #e2e2e2;
  transition: all 0.5s;
}

input {
  position: relative;
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0;
  font-size: 16px;
}

button {
  background-color: #93E1D8;
  border: none;
  display: block;
  margin: 35px auto;
  padding: 5px 5px;
  cursor: pointer;
}
