@-ms-viewport {width: device-width;}
@-o-viewport {width: device-width;}

html {
  background-color: #3498db;
}

* {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.container {
  text-align: center;
  min-width: 420px;
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

input {
  border-style: none;
}

.ts-input {
  border-bottom: 3px solid #94BCE4;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
  font-size: 0.9em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: none;
  padding: 1em;
  margin: 1.5em 1em;
}

button:focus {
  outline: none;
}

#date {
  font-size: 1.5em;
  background-color: transparent;
  width: 100%;
}

#difference {
  background-color: transparent;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  text-align: center;
  font-size: 0.8em;
  margin-top: 0.8em;
  width: 100%;
}

.date-heading {
  margin-bottom: 0.2em;
  font-size: 4.0em;
  text-align: center;
  font-weight: 100;
}

:-moz-placeholder {color: #94BCE4;}
::-moz-placeholder {color: #94BCE4;}
:-ms-input-placeholder {color: #94BCE4;}
::-webkit-input-placeholder {color: #94BCE4;}

@media (max-width: 915px) {
  .date-heading {
    font-size: 3.0em;
  }
  #date {
    width: 81%;
  }
}

@media (max-width: 600px) {
  .date-heading {
    font-size: 2.6em;
  }
  #date {
    width: 71%;
  }
  input {
    border-bottom: 2px solid #94BCE4;
  }
}

@media (max-width: 350px) {
  .date-heading {
    font-size: 2.3em;
  }
  #date {
    width: 61%;
  }
}
