<!DOCTYPE html>
<html>
  <head>
    <title>404 - Not found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <link rel="stylesheet type="text/css" href="public/styles/errorpage.css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Raleway|Open+Sans+Condensed:300|Quicksand' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <!-- <h1 class="error-sub-heading">
        ERROR:
      </span> -->
      <h1 class="error-heading">
        { <span class="red">error</span>: "404" }
      </h1>
      <span class="error-text">The page you were looking for has been moved or does not exist. Click <span class="link"><a href="/">here</a></span> to return home.
      </span>
    </div>
  </body>
</html>
